.box {
  border: 5px solid black;
  width: 500px;
  height: 600px;
  text-align: center;
  position: relative;
  overflow: hidden; 
  margin-bottom: 10px;
}

.box-result-area {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
}

.box.result-img {
  display: flex;
  justify-content: center;
  align-items: center;
}

.box.result-img img {
  max-width: 100%;         
  height: auto;    
}

.item-img {
  width: 400px;
}

.main {
  display: flex;
  justify-content: center;
}

.main > button {
  margin-right: 5px;
}

.Tie {  border: 5px solid black; color: black;}
.Win {  border: 5px solid green; color: green;}

.Lose {  
  border: 5px solid red; 
  background: rgb(199, 199, 199);
  color: red;
}

.Lose .item-img {
  filter: grayscale(100%) contrast(70%);
}






