@font-face {
  font-family: 'Katuri';
  src: url('https://gcore.jsdelivr.net/gh/projectnoonnu/noonfonts_13@1.0/Katuri.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
.box {
  border: 5px solid black;
  width: 500px;
  height: 300px;
  text-align: center;
  position: relative;
  overflow: hidden; 
  margin-bottom: 10px;
}

.box-result-area {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
}

.box.result-img {
  display: flex;
  justify-content: center;
  align-items: center;
}

.box.result-img img {
  max-width: 100%;         
  height: auto;    
}

.item-img {
  width: 400px;
}

.main {
  display: flex;
  justify-content: center;
  font-family: 'Katuri';
}

.main > button {
  margin-right: 5px;
}

.Tie {  border: 5px solid black; color: black;}
.Win {  border: 5px solid green; color: green;}

.Lose {  
  border: 5px solid red; 
  background: rgb(199, 199, 199);
  color: red;
}

.Lose .item-img {
  filter: grayscale(100%) contrast(70%);
}

.item-wrapper {
  width: 100%;
  position: relative;
}

.item-img {
  max-width: 100%;
  height: auto;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@media screen {
  
}
@media (min-width: 375px) {
  .box {
    height: 300px;
  }
}

@media (min-width: 480px) {
  .box {
    height: 450px;
  }
}

@media (min-width: 768px) {
  .box {
    height: 600px;
  }
}






